<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
</head>
<body>
    <h2 th:text="'hello,' + ${username}+'!'"/>
    <p><a href="/logout">Sign out here</a></p>
    <h2>There are all the products:</h2>
    <table>
        <thead>
            <tr>
                <td>Name</td>
                <td>Price</td>
            </tr>
        </thead>
        <tbody>
            <tr th:if="${#lists.isEmpty(products)}">
                <td colspan="2">No Products Available</td>
            </tr>
            <tr th:each="book : ${products}">
                <td><span th:text="${book.name}">Name</span></td>
                <td><span th:text="${book.price}">Price</span></td>
            </tr>
        </tbody>
    </table>
</body>
</html>